discord.py>=2.3,<3
Flask>=3.0,<4
requests>=2.31,<3
gspread>=6.0,<7
google-auth>=2.0,<3
aiohttp>=3.9,<4
useragent-changer
beautifulsoup4>=4.12,<5
Kyasher==1.5.0
pytz>=2024.1
bcsfe
Flask-Limiter
python-dotenv
pkce
cryptography
curl-cffi
pywebpush
